name: 内核构建 - Android 13 (5.15)

permissions:
  contents: write
  actions: write

on:
  workflow_dispatch:
    inputs:
      kernelsu_variant:
        description: "选择 KernelSU"
        required: true
        type: choice
        options:
          - Official
          - Next
          - MKSU
          - SukiSU
        default: SukiSU
      kernelsu_branch:
        description: "选择 ksu 分支"
        required: true
        type: choice
        options:
          - Stable(标准)
          - Dev(开发)
          - Other(其他/指定)
        default: Stable(标准)
      version:
        description: '自定义版本名(如5.15.167后面的字符/留空则使用默认版本号)'
        required: false
        type: string
      use_zram:
        description: '是否开启增加更多ZRAM算法?'
        required: true
        type: boolean
        default: true
      use_bbg:
        description: '是否开启BBG防格机补丁?（报错请关闭）'
        required: true
        type: boolean
        default: true
      use_kpm:
        description: '是否开启KPM功能?'
        required: true
        type: boolean
        default: true
      cancel_susfs:
        description: '取消susfs'
        required: true
        type: boolean
        default: false
      get_manager:
        description: '获取最新KSU管理器和SUS模块?'
        required: true
        type: boolean
        default: true
      onlyAk3:
        description: '仅上传AK3压缩包?(无boot,下载更快)'
        required: false
        type: boolean
        default: false
  workflow_call:
    inputs:
      kernelsu_variant:
        required: true
        type: string
      kernelsu_branch:
        required: true
        type: string
      version:
        required: false
        type: string
      use_zram:
        required: true
        type: boolean
      use_bbg:
        required: true
        type: boolean
      use_kpm:
        required: true
        type: boolean
      cancel_susfs:
        required: false
        type: boolean
      onlyAk3:
        required: false
        type: boolean

jobs:
  build-kernels-a13-5-15:
    name: "5.15.${{ matrix.sub_level }}-${{ matrix.os_patch_level }}"
    strategy:
      fail-fast: false
      matrix:
        include:
          - sub_level: "74"
            os_patch_level: "2023-01"
          - sub_level: "94"
            os_patch_level: "2023-05"
          - sub_level: "104"
            os_patch_level: "2023-07"
          - sub_level: "123"
            os_patch_level: "2023-11"
          - sub_level: "137"
            os_patch_level: "2024-01"
          - sub_level: "144"
            os_patch_level: "2024-03"
          - sub_level: "148"
            os_patch_level: "2024-05"
          - sub_level: "167"
            os_patch_level: "2024-11"
          - sub_level: "170"
            os_patch_level: "2025-01"
          - sub_level: "178"
            os_patch_level: "2025-03"
          - sub_level: "X"
            os_patch_level: "lts"
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      android_version: "android13"
      kernel_version: "5.15"
      sub_level: ${{ matrix.sub_level }}
      os_patch_level: ${{ matrix.os_patch_level }}
      ksu_variant: ${{ inputs.kernelsu_variant }}
      ksu_branch: ${{ inputs.kernelsu_branch }}
      version: ${{ inputs.version || '' }}
      use_zram: ${{ inputs.use_zram }}
      use_bbg: ${{ inputs.use_bbg }}
      use_kpm: ${{ inputs.use_kpm }}
      supp_op: false
      only_ak3: ${{ inputs.onlyAk3 || false }}
      enable_susfs: ${{ !inputs.cancel_susfs }}

  get-ksu-manager:
    if: ${{ github.event_name == 'workflow_dispatch' && inputs.get_manager }}
    uses: ./.github/workflows/get-manager.yml
    secrets: inherit
    with:
      kernelsu_variant: ${{ inputs.kernelsu_variant }}
